scikit_image==0.18.3
torchvision==0.10.0
filterpy==1.4.5
opencv_python==4.4.0.46
numpy==1.21.2
matplotlib==3.3.3
tqdm==4.62.0
torch==1.9.0
scipy==1.5.4
pandas==1.1.4
apex==0.9.10dev
lap==0.4.0
nn==0.1.1
onnx==1.10.1
Pillow==8.3.2
pixellib==0.7.1
pretrainedmodels==0.7.4
pycocotools==2.0.2
skimage==0.0
thop==0.0.31-2005241907
pandas==1.2.0
scikit-image==0.18.3
